header{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    background-color: var(--gray-100);
    align-items: center;
    position: relative;
    overflow: hidden;
    background: url(Background_Intro@2x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 .srcroll{
    padding: 94px;
}

main img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}




.cabecalho{
    text-align: center;
    max-width: 600px;
    z-index: 1;
    position: relative;
}
.cabecalho img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border: 3px solid var(--red);
}

.cabecalho h3{
    font: var(--h3-title);
    color: var(--gray-400);
    margin-bottom: 10px;
}

.cabecalho h1{
    color: var(--gray-600);
    font: var(--h1);
    margin-bottom: 20px;
    white-space:normal ;
    
}

/*NAVEGAÇÃO*/

span{
    color: var(--red);
}

.cabecalho p{

    font: var(--text-sm);
    color: var(--gray-400);
    display: -webkit-box; /* Permite limitar o número de linhas */
    -webkit-line-clamp: 2; /* Limita a 2 linhas */
    -webkit-box-orient: vertical; 
    margin: 0 auto;
    overflow: hidden;
    line-height: 1.2;
   

}


nav {
   margin-top: 30px;
   z-index: 1;
   position: relative;
   display: flex;
   justify-content: space-between;
   gap:16px;
   padding: 16px ;
   list-style: none;
   font: var(--h3-subtitle);
}

nav a{
    display: flex;
    gap: 8px;
    align-items: center;
    padding:10px;
    background: var(--gray-300);
    border-radius:20px ;
    color: #E2E4E9;
    text-decoration: none;
}


nav a img{
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

nav a:hover img{
    transform: scale(1.2);
}


/*Responsividade*/

@media (max-width:728px){
   .services {
        /* MUDANÇA: Ajustei padding para 30px 15px em mobile para manter proporção com o aumento */
        padding: 30px 15px;
    }

    .services h4 {
        font-size: 14px;
    }

    .services h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }


    header{
        padding: 30px 15px;
    }
    .cabecalho h1{
        font-size: 2rem;
    }

    nav {
        gap: 15px;
        padding: 8px;
    }

    nav a img {
        width: 25px;
        height: 25px;
    }

    nav a span {
        font-size: 12px;
    }

    .projects h2 {
        font-size: 20px;
    }

    .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    .card {
        width: 200px;
    }

    .card h3 {
        font-size: 14px;
    }

    .card p {
        font-size: 12px;
    }
}